In [2]:
import pandas as pd

In [87]:
# 读取xlsx文件，指定sheet
data = pd.read_excel('/home/qujing/degenerative_disease/Datasets/DataMapping_V2.xlsx')#, engine='openpyxl'
tissue_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Tissue')
disease_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Disease')
age_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Age')
gender_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Gender')
condition_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Condition')
race_value = pd.read_excel('/home/qujing/degenerative_disease/Datasets/ValueMapping_V3.xlsx', sheet_name='Race')

## 数据表可视化

In [12]:
data.head()

,GEO ID,PMID,Original_metafile,Tissue,Disease,Condition,Platform,Age,Age_unit,Gender,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,GSE15745,20485568.0,GSE15745_pheno.csv,tissue:ch1,Healthy,NaN,27K,age (y):ch1,Year,gender:ch1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GSE17448,19895632.0,GSE17448_pheno.csv,cell type:ch1,Healthy,NaN,27K,age:ch1,Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GSE19711,20219944.0,GSE19711_pheno.csv,source_name_ch1,sample type:ch1,NaN,27K,age:ch1,Year,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSE20236,20219945.0,GSE20236_pheno.csv,tissue:ch1,Healthy,NaN,27K,age:ch1,Year,gender:ch1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GSE20242,20219945.0,GSE20242_pheno.csv,source_name_ch1,Healthy,NaN,27K,age:ch1,Year,sex:ch1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tissue_value.head()

,No,GEO ID,Unique Value,Tissue lvl1,Tissue lvl2,Tissue lvl3
0,1,GSE15745,cerebellum;cerebellum,Brain,Cerebellum,Cerebellum
1,2,GSE15745,frontal cortex;FCTX,Brain,Frontal lobe,Frontal cortex
2,3,GSE15745,frontal cortex;frontal cortex,Brain,Frontal lobe,Frontal cortex
3,4,GSE15745,pons,Brain,Pons,Pons
4,5,GSE15745,temporal cortex,Brain,Temporal lobe,Temporal cortex

In [14]:
disease_value.head()

,No,GEO ID,Unique Value,Disease
0,1.0,GSE19711,bi-sulphite converted genomic whole blood DNA ...,Ovarian cancer
1,2.0,GSE19711,bi-sulphite converted genomic whole blood DNA ...,Healthy
2,3.0,GSE26126,prostate tissue,Prostate cancer
3,4.0,GSE26126,primary prostate culture,Healthy
4,5.0,GSE30601,primary gastric tumor,Gastric cancer

In [11]:
age_value.head()

     GEO ID             Unique Value   Age
0  GSE17448  50 year old human donor  50.0
1  GSE17448  21 year old human donor  21.0
2  GSE17448  25 year old human donor  25.0
3  GSE17448  24 year old human donor  24.0
4  GSE17448  79 year old human donor  79.0

In [14]:
gender_value.head()

     GEO ID Unique Value  Gender
0  GSE15745         male    Male
1  GSE15745       female  FeMale
2  GSE17448          NaN     NaN
3  GSE19711        women  FeMale
4  GSE20236       Female  FeMale

In [15]:
condition_value.head()

    No    GEO ID                          Unique Value        Condition
0  1.0  GSE26126                        Prostate Tumor            Tumor
1  2.0  GSE26126                Normal Prostate Tissue  Adjacent normal
2  3.0  GSE26126              primary prostate culture          Healthy
3  4.0  GSE30601                 primary gastric tumor            Tumor
4  5.0  GSE30601  primary non-malignant gastric tissue  Adjacent normal

In [16]:
race_value.head()

    No    GEO ID        Unique Value Race lvl1         Race lvl2
0  1.0  GSE15745                 NaN     White         Caucasian
1  2.0  GSE27097  more-than-one-race     Multi             Multi
2  3.0  GSE27097               white     White             White
3  4.0  GSE27097               other       NaN             Other
4  5.0  GSE27097        african-amer     Black  African american

## 数据词典构造

In [16]:
disease_value

,No,GEO ID,Unique Value,Disease
0,1.0,GSE19711,bi-sulphite converted genomic whole blood DNA ...,Ovarian cancer
1,2.0,GSE19711,bi-sulphite converted genomic whole blood DNA ...,Healthy
2,3.0,GSE26126,prostate tissue,Prostate cancer
3,4.0,GSE26126,primary prostate culture,Healthy
4,5.0,GSE30601,primary gastric tumor,Gastric cancer
...,...,...,...,...
993,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN

In [88]:
data_col = ['GEO ID', 'Tissue', 'Disease', 'Condition', 'Age', 'Age_unit', 'Gender', 'Race']
tissue_col = ['GEO ID', 'Unique Value', 'Tissue lvl1', 'Tissue lvl2', 'Tissue lvl3']
disease_col = ['GEO ID', 'Unique Value', 'Disease']
age_col = ['GEO ID', 'Unique Value', 'Age']
gender_col = ['GEO ID', 'Unique Value', 'Gender']
condition_col = ['GEO ID', 'Unique Value', 'Condition']
race_col = ['GEO ID', 'Unique Value', 'Race lvl1', 'Race lvl2']

In [89]:
from collections import defaultdict

def get_dict(data, data_col):
    data_df = data[data_col]
    data_dict = defaultdict(list)
    for index in data_df.index:
        if str(data_df.loc[index].values[0]) != 'nan':
            for i, col in enumerate(data_col):
                data_dict[col].append(data_df.loc[index].values[i])
    return data_dict

In [90]:
data_dict = get_dict(data, data_col)
tissue_dict = get_dict(tissue_value, tissue_col)
disease_dict = get_dict(disease_value, disease_col)
age_dict = get_dict(age_value, age_col)
gender_dict = get_dict(gender_value, gender_col)
condition_dict = get_dict(condition_value, condition_col)
race_dict = get_dict(race_value, race_col)

In [91]:
import json

def write_json_file(obj_path, output):
    with open(obj_path, 'w') as jf:
        json.dump(output, jf, indent=4, ensure_ascii=False)
    return

In [92]:
write_json_file('json file/data_dict.json', data_dict)
write_json_file('json file/tissue_dict.json', tissue_dict)
write_json_file('json file/disease_dict.json', disease_dict)
write_json_file('json file/age_dict.json', age_dict)
write_json_file('json file/gender_dict.json', gender_dict)
write_json_file('json file/condition_dict.json', condition_dict)
write_json_file('json file/race_dict.json', race_dict)